USE [master]
GO
/****** Object:  Database [INF6150]    Script Date: 2019-05-14 12:55:11 PM ******/
CREATE DATABASE [INF6150]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INF6150', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\INF6150.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INF6150_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\INF6150_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INF6150].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INF6150]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2019-05-14 12:55:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[idClient] [int] NOT NULL,
	[nomClient] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[idClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projet]    Script Date: 2019-05-14 12:55:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projet](
	[idProjet] [int] IDENTITY(1,1) NOT NULL,
	[nomProjet] [nvarchar](50) NULL,
	[idClient] [int] NOT NULL,
	[statut] [nvarchar](50) NULL,
	[dateDebut] [date] NULL,
	[dateFin] [date] NULL,
 CONSTRAINT [PK_Projet] PRIMARY KEY CLUSTERED 
(
	[idProjet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tache]    Script Date: 2019-05-14 12:55:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tache](
	[idTache] [int] NOT NULL,
	[nomTache] [nvarchar](50) NULL,
	[idProjet] [int] NULL,
	[idUtilisateur] [int] NULL,
	[nbreHeuresTravailles] [nchar](10) NULL,
 CONSTRAINT [PK_Tache] PRIMARY KEY CLUSTERED 
(
	[idTache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 2019-05-14 12:55:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[matricule] [int] IDENTITY(1,1) NOT NULL,
	[nomLogin] [nvarchar](50) NULL,
	[hashedPassword] [binary](50) NOT NULL,
	[nom] [nvarchar](50) NULL,
	[prénom] [nvarchar](50) NULL,
	[dateEmbauche] [date] NULL,
	[dateNaissance] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[typeUtilisateur] [nvarchar](50) NULL,
 CONSTRAINT [PK_Utilisateur] PRIMARY KEY CLUSTERED 
(
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projet]  WITH CHECK ADD  CONSTRAINT [FK_Projet_Client] FOREIGN KEY([idClient])
REFERENCES [dbo].[Client] ([idClient])
GO
ALTER TABLE [dbo].[Projet] CHECK CONSTRAINT [FK_Projet_Client]
GO
ALTER TABLE [dbo].[Tache]  WITH CHECK ADD  CONSTRAINT [FK_Tache_Projet] FOREIGN KEY([idProjet])
REFERENCES [dbo].[Projet] ([idProjet])
GO
ALTER TABLE [dbo].[Tache] CHECK CONSTRAINT [FK_Tache_Projet]
GO
ALTER TABLE [dbo].[Tache]  WITH CHECK ADD  CONSTRAINT [FK_Tache_Utilisateur] FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateur] ([matricule])
GO
ALTER TABLE [dbo].[Tache] CHECK CONSTRAINT [FK_Tache_Utilisateur]
GO
/****** Object:  StoredProcedure [dbo].[spAjoutHeures]    Script Date: 2019-05-14 12:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spAjoutHeures]
@idTache int,
@idUtilisateur int,
@heures float
as
Begin

UPDATE Tache
Set nbreHeuresTravailles = @heures 
where idTache = @idTache AND
idUtilisateur = @idUtilisateur

End
GO
/****** Object:  StoredProcedure [dbo].[spConnectionUser]    Script Date: 2019-05-14 12:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spConnectionUser]
@nomLogin nvarchar(50),
@password nvarchar(50)
AS
BEGIN

SELECT nomLogin, hashedPassword
from Utilisateur
where nomLogin = @nomLogin and
hashedPassword = @password

END
GO
/****** Object:  StoredProcedure [dbo].[spCreerProjet]    Script Date: 2019-05-14 12:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spCreerProjet]
@nomProjet varchar(50)
as
Begin

INSERT INTO Projet(nomProjet,statut, dateDebut)
values(@nomProjet, 'actif', getdate()) 

End
GO
/****** Object:  StoredProcedure [dbo].[spCreerUsager]    Script Date: 2019-05-14 12:55:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[spCreerUsager]
@login nvarchar(50),
@password binary(50),
@nom  nvarchar(50),
@prenom nvarchar(50),
@messageReponse NVARCHAR(250) output
as
Begin

 BEGIN TRY

   insert into Utilisateur(nomLogin,hashedPassword, nom, prénom)
   values(@login, HASHBYTES('SHA2_512',@password), @nom, @prenom) 

   SET @messageReponse = 'succes'
end try
begin catch
   SET @messageReponse= ERROR_MESSAGE()
   END CATCH

End
GO
USE [master]
GO
