@{
    ViewBag.Title = "Home Page";
}
@model dynamic


<div class="jumbotron">
    <h1>Gestion de Projets</h1>

</div>



@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group centerlook">
        <p>
            <label for="userIDText">Nom d'utilisateur:</label><br>
            <input type="text" name="userIDText" />
        </p>

    </div>

    <div class="form-group centerlook">
        <p>
            <label for="password">Mot de passe: </label><br>
            <input type="text" name="password" />
        </p>
    </div>

    <input type="submit" value="Valider" />



    <div>
        <p></p>
    </div>

}


<div>
    <table class="table">
        <tr>
            <th>
                Project Id
            </th>
            <th>
                Project Name
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model.projectsList)
        {
            <tr>
                <td>
                    @item.ProjectId
                </td>
                <td>
                    @item.ProjectName
                </td>
            </tr>
        }
    </table>
</div>