@model GestionProjet.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login page</h2>


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="form-group centerlook">
        Nom d'utilisateur: @Html.EditorFor(model => model.UserID)
    </div>

    <div class="form-group centerlook">
        Mot de passe: @Html.EditorFor(model => model.Password)
    </div>

    <input type="submit" value="Valider" />

    <div>
        @Html.DisplayFor(model => model.Message)
    </div>

}



